<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Tipo de receita:</strong>
  <%= @recipe.recipe_type %>
</p>

<p>
  <strong>Cozinha:</strong>
  <%= @recipe.cuisine %>
</p>

<p>
  <strong>Dificuldade:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Tempo de preparo:</strong>
  <%= @recipe.cook_time %>
</p>

<p>
  <strong>Ingredientes:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Modo de preparp:</strong>
  <%= @recipe.cook_method %>
</p>

<%= link_to 'Editar', edit_recipe_path(@recipe) %> |
<%= link_to 'Voltar', recipes_path %>
